
/*Titre catalogueur*/
h1{
  text-align: center;
  color: white;
  background-color: #144FC1;
  padding: 3px;
  border-radius: 10px;
}


/*nom vendeur*/
h2{
  color: white;
  text-align: center;
}

//titre produits du vendeur
h3{
  padding: 0.5em 0em;
}

.nomVendeur{
  background-color: #144FC1;
  border-radius: 10px;
  margin-bottom: 1em;
}

.banner{  //"banniere" d'un vendeur
  figure{
    width: 100%;
    height: 10em;
    text-align: center;
  }

  img{
    width: 100%;
    object-fit: scale-down;
    height: 100%;
  }
}

//description vendeur
.description{
  text-align: center;
}

// infos vendeur
.infos{
  div{
    text-align: center;
  }

  ul{
    display: inline-block;
    text-align: left;
  }
}

.produit{
  /*borders orange*/
  border-style: solid;
  border-color: #FF8605;
  border-radius: 0.5em;
  border-width: 2px;

  /*empeche la superposition*/
  margin-bottom: 1em;

  /*image du produit*/
  img {
    width: 10em;
    height: 10em;
    object-fit: contain;
  }

  /*centrage description produits*/
  .descProd{
  text-align: center;
  }
}



