/*Titre catalogueur*/
h1 {
  text-align: center;
  color: white;
  background-color: #144FC1;
  padding: 3px;
  border-radius: 10px;
}

/*nom vendeur*/
h2 {
  color: white;
  text-align: center;
}

h3 {
  padding: 0.5em 0em;
}

.nomVendeur {
  background-color: #144FC1;
  border-radius: 10px;
  margin-bottom: 1em;
}

.banner figure {
  width: 100%;
  height: 10em;
  text-align: center;
}

.banner img {
  width: 100%;
  -o-object-fit: scale-down;
     object-fit: scale-down;
  height: 100%;
}

.description {
  text-align: center;
}

.infos div {
  text-align: center;
}

.infos ul {
  display: inline-block;
  text-align: left;
}

.produit {
  /*borders orange*/
  border-style: solid;
  border-color: #FF8605;
  border-radius: 0.5em;
  border-width: 2px;
  /*empeche la superposition*/
  margin-bottom: 1em;
  /*image du produit*/
  /*centrage description produits*/
}

.produit img {
  width: 10em;
  height: 10em;
  -o-object-fit: contain;
     object-fit: contain;
}

.produit .descProd {
  text-align: center;
}
/*# sourceMappingURL=modele.css.map */