section{
    min-height: 100vh;
}

img{
    width: 1.3em;
    height: 10%;
}

#smiley_404{
    font-size: 600%;
}


.row{
	--bs-gutter-x: 0 !important; 
}

@media screen and (max-width: 576px){
    p:not(#smiley_404) {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }
}


/* Style du bouton  */
#boutonAnime{

    background-color: #FF8605; 
    color: #000;
    text-decoration:none;
    border: none;
    align-self: center;
    margin-right: 2vh;
    transition: .3s ease-in-out
    
}

#boutonAnime:hover{
    transform: scale(.96)
}

#btn{
    width: 9em;
    margin-top: 5%;
    padding: 2% 0% 2%;

    background-color: #FF8605; 
    color: #000;
    text-decoration:none;
    border: none;
    align-self: center;
    transition: .3s ease-in-out;
}
#btn:hover{
    transform: scale(.96)
}
