@font-face {
    font-family: 'Montserrat';
    src: url(polices/Montserrat/Montserrat-SemiBold.otf);    
}

@font-face {
    font-family: 'Open sans';
    src: url(polices/open\ sans/OpenSans-Regular-webfont.ttf);    
}

body {
    font-family: 'Open sans';
}

h1{
    font-family: 'Montserrat';
}


