/*BODY*/
body {
    background-color : #F7F1F1
}

/*MAIN*/
main {
    background-color: white;
} 

/*Espacement entre les produits*/
.produit {
    margin-bottom: 2.5em;
}

/*Image présent dans le détail d'un produit*/
img {
    object-fit: cover;
    height: 12em;
    width: 12em;
}

/*Espacement du côté gauche des élément présent dans la liste des produits d'une commande*/
details {
    margin-left: 2vw;
}