/* POLICES */
@font-face {
    font-family: 'Montserrat';
    src: url(polices/Montserrat/Montserrat-SemiBold.otf);    
}

@font-face {
    font-family: 'Open sans';
    src: url('polices/open sans/OpenSans-Regular-webfont.ttf');    
}

body {
    background-color: #F7F1F1;
}

/*GRANDES CATEGORIES*/
main {
    font-family : 'Open sans' ;
    background-color: #F7F1F1;
    max-width: 100vw;
}

/* Ckaground de la seule section */
section {
    background-color: #ffffff;
}

/* Padding entre les articles */
article {
    padding: 0.8em;
}
/* Polices des h3 */
h3 {
    font-family: 'Montserrat' ;
}

/* placement des infos du vendeur */
main li {
    overflow: hidden;
    padding: 1vh 0;
}

/* Bouton de la page précédente */
a {
    display: inline-block;
    color : #ffffff;
    text-decoration: none ;
}
a:hover {
    color: #000000;
}

/* Bannière de l'entreprise */
figure {
    width: 100%;
    height: 10em;
    text-align: center;
}

img {
    width: 100%;

    object-fit: cover;
    height: 100%;
}


/* Bouton précédent */
.btn-secondary {
    width: auto;
    padding-left: 2%;
    padding-right: 2%;
    background-color: #FF8605; 
    color: #000;
    border-radius: 6px;
    border: none;
    text-decoration:none;
    align-self: center;
    text-align: center;
}