@font-face {
    font-family: 'Montserrat';
    src: url(polices/Montserrat/Montserrat-SemiBold.otf);    
}

@font-face {
    font-family: 'Open sans';
    src: url(polices/open\ sans/OpenSans-Regular-webfont.ttf);    
}

/*surlignage liens*/
main :not(footer) a:hover{
    transition-duration: 0.2s;
    color: #FF8605;
    background-color: #1f2649;
    border-radius: 10px;
    background-color: white;
}

/*font pour l'affichage vendeur*/
#vendeur{
    font-size: 75%;
    margin-top: -1em;
    margin-bottom: 8px;
}

/*couleur du texte affichage vendeur*/
.lienVendeur{
    color: gray;
    text-decoration: none;
}

/*notification d'ajout au panier*/
#notif{
    background-color: white;
    position: fixed;
    right: 1em;
    z-index: 10;
    padding: 0.2em;
    width: 14em;
    height: 4em;
    line-height: 2em;
    align-items: center;
    white-space: nowrap;
    -webkit-animation: smooth 5s ease-out;
    -moz-animation: smooth 5s ease-out;
    -o-animation: smooth 5s ease-out;
    -ms-animation: smooth 5s ease-out;
    animation: smooth 5s ease-out;
    animation-fill-mode: forwards;
}
#notif > a{
    display: block;
    background-color: #FF8605; 
    color: #000;
    border-radius: 6px;
    text-decoration:none;
    /* display: inline-block; */
    align-self: center;
    padding: 0;
    padding-left: 1em;
    padding-right: 1em;
}

@-webkit-keyframes smooth {
    0% { opacity: 1;}
    50%{ opacity: 1;}
    100%{ opacity: 0; visibility: hidden;}
}


main{
    padding: 1em;
    }
    
section{
        margin-top: 3em;
    }

h1,h2,h3,h4,h5,h6{
    font-family: 'Montserrat';
}

#prixTTC {
    font-family: 'Open sans';
}

#prixRemiseTTC{
    color: red;
    font-family: 'Open sans';
}

#prix_ht {
    font-size: 110%;
}

#prix_remise_ht {
    color: red;
    font-family: 'Open sans';
}

#pourcentageRemise{
    font-size: large;
}

#tva {
    font-size: 110%;

    margin-top: -10px;
}

body{
    background-color: #F7F1F1;
    font-family: 'Open sans';
}

/*section du produit*/
#produit{
    background-color: #FFFFFF;
    top: 5em;
    right: 8em;
    padding: 1em;
}

/*borders autour de article prix*/
#prix{
    padding-left: 2em;
    padding-bottom: 2em;
}

/*div form quantité*/
#qte{
    background-color: #D9D9D9;
    text-align: center;
    padding-bottom: 2px;
    padding-top: 5px;
    /*margin: auto;*/
    width: 9em; border-radius: 10px;
}



.rating a {
    float: right;
    color: #aaa;
    text-decoration: none;
    font-size: 2em;
    transition: color .4s;
}
/*.rating a:hover,
.rating a:focus,
.rating a:hover ~ a,
.rating a:focus ~ a {
color: orange;
cursor: pointer;
}*/

ul{
    list-style-type: none;
}

.carouss{
    object-fit: contain;
}

.carousel-control-prev-icon, .carousel-control-next-icon {
    height: 50px;
    width: 50px;
    outline: black;
    background-color: rgba(0, 0, 0, 0.2);
    background-size: 100%, 100%;
    border: 0.5px solid black;
}


#quantity{
    width: 3em;
}

/*couleur du nombre d'articles restants selon stock*/
#enstock{
    color: green;
}
#pasEnStock{
    color: red;
}

