<!--FOOTER-->
<footer class="container-fluid text-center"> 
    <!--Partie haute du footer-->
    <article id="topFooter" class="row" >
            <a class="col footerItemNav nav-link" href="./aProposDeNous.html" >  <div class="">À propos de nous</div></a>
            <a class="col footerItemNav nav-link" href="./contact.html" >        <div class="">Contact</div></a>
            <a class="col footerItemNav nav-link" href="./vendeur/connexionVendeur.php" > <div class="">Connexion vendeur</div></a>
            <a class="col footerItemNav nav-link" href="./aide.html" >           <div class="">Aide</div></a>
    </article>
    <!--Partie basse du footer-->
    <article id="bottomFooter" class="row">
            <a class="col footerItemNav nav-link" href="./cgu.php">         <div>Conditions générales d'utilisation</div></a>
            <a class="col footerItemNav nav-link" href="./cgv.php">       <div>Conditions générales de vente</div></a>
            <a class="col footerItemNav nav-link" href="./mentionsLegales.php">     <div>Mentions légales</div></a>
            <a class="col footerItemNav nav-link" href="./profil.php"><div>Vos informations personnelles</div></a>
        <p>Alizon.com Inc 2022-2022 Tous droits réservés</p>
    </article>
</footer>