/*FOOTER GLOBAL*/
footer {
    color: #ffffff;
    margin-top: 3%;
    
    width: 100%;
}

.footerItemNav{
    padding-left: 0.4em;
    padding-right: 0.4em;
}

.FooterItemNav div {
    padding-top: 0.1em;
    padding-bottom: 0.1em;
}

/*Animation lors du survol, changement de couleur*/
.footerItemNav:hover {
    transition-duration: 0.4s;
    background-color: #1F2649;
    color : #FF8605 ;
}

/*PARTIE HAUTE DU FOOTER*/
#topFooter {
    background-color: #144FC1 ;
    padding: 0;
}

/*PARTIE BASSE DU FOOTER*/
#bottomFooter {
    background-color: #1F2649;
    padding : 0 ;
}