/* Fait en sorte que la page fait 100% pour que le footer soit bien positionné sur toute les pages */
html, body {
    min-height: 100%;
    margin: 0;
}

/* Hauteur du main */

main {
    min-height: 75vh;
}

body{
    display:flex;
    flex-direction:column;
}

/* Grand logo alizon en haut a gauche */
#logoAlizon {
    margin: 0.5em 3vh 0.5em 0.5em;
    width:120px;
    height: 64px;
}
/* Petit logo alizone n remplacement du grand lorsque c'est un format mobile */
#logoAlizonPetit {
    margin: 0.5em 1vh 0.5em 0.5em;

    width: 40px;
    height: 30px;
}

/* Barre de recherche */

.inputbarreRech {
    box-shadow: 0px 3px rgba(0, 0, 0, 0.5);
    border : none;
}

/* La loupe pour rechercher restera orange dans n'importe quel état */
.btn-search, .btn-search:active, .btn-search:hover{
    background-color: #FF8605!important;
    display: flex;
    align-items: center;
}

/* La barre de recherche a des espacement sur les coté pour éviter d'être collé */
#input-group{
    margin: auto 1em auto 1em;
}

/* class du bouton */
#boutonAnime{
    display: block;
    background-color: #FF8605; 
    color: #000;
    border-radius: 6px;
    text-decoration:none;
    align-self: center;
    margin-right: 2vh;
    transition: .3s ease-in-out
    
}

#boutonAnime:hover{
    transform: scale(.96)
}

#btn{
    width: 9em;
    margin-top: 5%;
    padding: 2% 0% 2%;
    display: block;
    background-color: #FF8605; 
    color: #000;
    border-radius: 6px;
    text-decoration:none;
    border: none;
    align-self: center;
    transition: .3s ease-in-out;
}
#btn:hover{
    transform: scale(.96)
}

/* Met aucune décoration pour chaque a du nav */
header >* a {
    text-decoration: none;
}

/* Met le header toujours sur la page même si on scroll */
header {
    z-index: 1001 !important;
    position: sticky;
    top: 0;
}

/* Couleur du fond du nav */
nav {
    background-color: #106AD1;
}

.nav-item {
    padding: 0 1em;
}
/***************/
/* MEDIA QUERY */
/***************/

/* FORMAT PC */
@media screen and (min-width: 780px){
    
    /* Image avec une taille fixe lors du format pc */
    #flexCenter img {
        width: 45.85px;
        height: 45.85px;
        object-fit: cover;
    }
}

/* FORMAT MOBILE */
@media screen and (max-width: 780px){
    /* Diminution de la taille du bouton */
    #flexCenter button {
        width: 70%;
        font-size: x-small;
        height: auto;
        object-fit: cover;
    }
    /* Diminution de la taille de l'image en conservant ses proportions */
    #flexCenter img {
        width: 21.12px;
        height: 21px;
        object-fit: cover;
    }
    
    .itemDuNav:link{
        padding-left: 2em;
        padding-right: 2em;
    }
    .itemDuNav:hover{
        padding-left: 2em;
        padding-right: 2em;
    }

    
}
/* Espacement pour l'icone de connexion pour le format mobile */
#iconPersonne{
    margin-left: 1vh;
    margin-right: 1vh;
}


#flexCenter{
    display: flex;
    justify-content: right;
    margin: 0.5em 0.5 0.5vh 0.5em auto;
    object-fit: cover;
    align-items: center;
    padding-right: 1%;
}

/* met une taille défini pour l'icone du panier */
#panier{
    display: inline-block;
    margin-right: 0.5em;
    width: 21.12px;
    transition: .3s ease-in-out;
}

#panier:hover{
    transform: scale(.85);
}

/* Mettre les item du nav en couleur lorsque la souris passe dessus*/
.itemDuNav {
    color: white;
}

/* Met les items du nav en orange avec une petite animation lors du survol*/
.itemDuNav:hover{
    transition-duration: 0.5s;
    color: #FF8605;
    /* background-color: #1f2649; */
    background-color: #144FC1 ;
    border-radius: 10px;
    
}

/* Met une bordure lors du click sur une catégorie sur le nav */
.itemDuNav:link{
    border-radius: 10px;
}



/*************
 * ANIMATION *
 *************/
#topHeader {
    background-color: #144FC1 ;
}

/*ERREUR POUR LE FORMAT MOBILE, IL SE RELANCE AVEC LE MENU BURGER*/
    /* header nav li {
        animation: apparitionCategories 1s forwards;
        animation-delay: 0.27s;
    }

    @keyframes apparitionCategories {
        0% {
            opacity: 0;
            transform: scaleX(0.2);

        }
        50% {
            opacity: 0.5;
            transform: scaleX(0.2);
        }
        100% {
            opacity: 1;
            transform: scaleX(1);
        }
    } */



.navbar-collapse{
    justify-content: center;
}


::-webkit-scrollbar {
    width: 1em;
    max-width: 1vw;
    background: gainsboro;
}
::-webkit-scrollbar-thumb {
    border: solid 0 transparent;
    border-radius: 5px;
    margin: 1px;
    background-color: #FF8605;
}