/* polices */
@font-face {
    font-family: 'Montserrat';
    src: url(polices/Montserrat/Montserrat-SemiBold.otf);    
}

@font-face {
    font-family: 'Open sans';
    src: url(polices/open\ sans/OpenSans-Regular-webfont.ttf);    
}

/* main */

body {
    font-family: 'Open sans';
}

.carousel-caption {
    top: 0;
    text-align: left;
    padding-left: 25%;
}

h1, h3 {
    color: white;
    font-family: Montserrat;
    background-color: #144FC1;
    border-radius: 10px;
}

.lienMeilleurVente {
    text-decoration: none;
}

.meilleurVente {
    padding: 0;
}

h1 {
    padding: 1em;
}

.carousel-caption > p {
    margin: 0;
}

.row-sd {
    margin-left: 5%;
    margin-right: 5%;
}

.contenuCat {
    display: flex;
    flex-direction: column;
    border-style: solid;
    border-color: #FF8605;
    border-width: 2px;
    border-radius: 10px;
    padding-top: 2%;
    margin-left: 0.2em;
    margin-right: 0.2em;
    transition: .3s ease-in-out
}

.contenuCat:hover {
    transform: scale(1.06);
}

.enStock {
    color: green;
}

.pasEnStock {
    color: red;
}

.contenuCat .imgAjoutPanier {
    width: 80%;
    max-height: 3em;
    background-color: #fff;
    padding: 1%;
    object-fit: contain;
    background-color: #FF8605;
    border-radius: 10px;
    margin: 2%;
    padding: 4%;
    margin-bottom: 15%;
}

.imgAjoutPanierGris {
    width: 80%;
    max-height: 3em;
    background-color: #fff;
    padding: 1%;
    object-fit: contain;
    background-color: grey;
    border-radius: 10px;
    margin: 2%;
    padding: 4%;
    margin-bottom: 15%;
}

.lienAjoutPanier{
    transition: .3s ease-in-out;
}

.lienAjoutPanier:hover {
    background: none;
    transform: scale(.96);
}


.contenuCat p {
    margin-bottom: 0;
}

.contenuCat .col-md {
    display: flex;
    align-items: center;
    justify-content: center;
}

main :not(footer) article{
    background-color: #fff;
    border-radius: 10px;
}

main :not(footer) article >* img{
    width: 90%;
    height: 12em;
    object-fit: cover;
}

.carousel-item > img {
    margin-left: 10%;
    width: 20em;
    height: 20em;
    object-fit: cover;
}

.carousel-inner {
    border-style: solid;
    border-color: #144FC1;
    border-radius: 10px;
}

img {
    width: 100%;
}

main :not(footer) article a{
    text-decoration: none;
    color: black;
    border-radius: 10px;
}

main :not(footer) article a:hover{
    transition-duration: 0.2s;
    color: #FF8605;
    background-color: #1f2649;
    border-radius: 10px;
    background-color: white;
}

main :not(footer) article figure{
    margin-bottom: 0;
}

.prix {
    font-size: 180%;
}

.prixCat {
    margin: 0;
}

.prix_ht, .tva {
    font-size: 110%;
}

.prixRemise{
    color: red;
}

h2 {
    font-family: 'Montserrat';
}

.noProduit {
    border: #FF8605 solid 2px;
    border-radius: 10px;
    width: fit-content;
}
/* notification */

#notif{
    margin-top: 1em;
    background-color: white;
    position: fixed;
    right: 1em;
    z-index: 10;
    padding: 0.2em;
    width: 14em;
    height: 4em;
    line-height: 2em;
    align-items: center;
    white-space: nowrap;
    animation: smooth 5s ease-out;
    animation-fill-mode: forwards;
}
#notif > a{
    display: block;
    background-color: #FF8605; 
    color: #000;
    border-radius: 6px;
    text-decoration:none;
    align-self: center;
    padding: 0;
    padding-left: 1em;
    padding-right: 1em;
}


/*font pour l'affichage vendeur*/
.vendeur{
    font-size: 75%;
}

/*couleur du texte affichage vendeur*/
.lienVendeur{
    color: gray;
}


@-webkit-keyframes smooth {
    0% { opacity: 0;}
    5%{ opacity: 1;}
    80%{ opacity: 1;}
    100%{ opacity: 0; visibility: hidden;}
}


/*ANIMATION header unique à index*/
header {
    animation: 0.6s linear apparitionParLeHaut forwards;
}

header nav{
    z-index: -1 !important; 
    transform: translateY(-100%);
    animation: 0.5s ease-out apparitionParLeHaut forwards; 
    animation-delay: 0.59s;
}


@keyframes apparitionParLeHaut {
    from {
        transform: translateY(-100%);
    }
    to {
        transform: translateY(0);
    }
}


/* media queries */
/* grand écran */
@media screen and (max-width: 830px){

    .carousel-item > img {
        width: 10em;
        height: 10em;
        object-fit: cover;
    }

    .carousel-caption > .desc {
        display: none;
    }

    .prix_ht, .tva {
        display: none;
    }
}
/* petit écran */
@media screen and (max-width: 500px){
    h2, h1, h3 {
        font-size: 100%;
    }

    figcaption {
        font-size: 90%;
    }

    .prix {
        font-size: 80%;
    }

    .carousel-inner {
        height: 9em;
    }

  

    .contenuCat {
        margin-top: 0.5em;
    }

    .carousel-item > img {
        width: 7em;
        height: 8em;
        object-fit: contain;
    }

    main :not(footer) article >* img{
        width: 7em;
        height: 8em;
        object-fit: cover;
    }
}