@font-face {
    font-family: 'Montserrat';
    src: url(polices/Montserrat/Montserrat-SemiBold.otf);    
}

@font-face {
    font-family: 'Open sans';
    src: url(polices/open\ sans/OpenSans-Regular-webfont.ttf);    
}


/*Background de la page*/
body{
    background-color: #F7F1F1;
    font-family: 'Open sans';

}


/*titres en Montserrat*/
h1{
    font-family: 'Montserrat';
}

/*Background de la section principale*/
#sectionPrincipale{
    background-color: #FFFFFF;
}

/*section recap produits*/
#sectionProduits{
    background-color: #FFFFFF;
    padding: 2em;
}

/*titre articles*/
h3{
    color: black; 
    text-decoration: none; /*ne retire pas le soulignage pour raison inconnu*/
}

#sectionPrincipale{
    padding-bottom: 1em;
    padding: 2em;
}

label {
    width: 10em;
}

.fallbackLabel{
    width: 10.3em;
}
/*pour le formulaire identité client*/
.paddingDroite {
    padding-right: 1em;
}

input {
    width: 15em;
}

#codePromo{
    width: 10em;
}

/*style des inputs*/
.inputPrepaiement {
    border-radius: 7px;
    border-style: solid;
    border-width: 2px;
    background-color: #F7F1F1;
}

/*inputs concernant les adresses*/
.input_adr, .input_adrL{
    margin: 5px;
}

/*input concernant la cb ayant bsn de margin*/
.input_cb{
    margin: 5px;
}

/*"supprimer""*/
u{
    color: black;
}

/*bouton revenir au panier*/
#revenirAuPanier{
    display: block;
    padding: 0 5%;
    background-color: #FF8605; 
    color: #000;

    border-radius: 6px;
    text-decoration:none;
    border: none;
    align-self: center;

}

/*bouton payer*/
#payer{
    background-color: #FF8605; 
    color: #000;
    border-radius: 6px;
    text-decoration:none;
    border: none;
    align-self: center;
    width: 80%;
}

/*les 2 asides*/
#passe_commande,#revenir_panier {
    position: absolute;
}

/*recap des prix totaux*/
#alignerCentre{
    text-align: center;
}

/*aside passer commande et prix total*/
#passe_commande{
    background-color: #FFFFFF; 
    right: 4em; 
    top: 22em; 
    padding: 1em;
    width: 13em;
}

/*aside vider panier*/
#revenir_panier{
    
    background-color: #FFFFFF; 
    right: 4em; 

    padding: 1em;
    width: 13em;
    top : 37em;

    display: flex;
    align-items: center;
}

#revenir_panier .inputPrepaiement{
    background-color: #FF8605; 
    color: #000;
    border-radius: 10px;
    border-color: #FF8605;
    align-self: center;
    
}


/*retire décoration du texte vider panier*/
#texte_revenir_panier{
    color: black;
    text-decoration: none;
}

/*div retenir les infos pour ce compte*/
.div_ret{
    display: flex;
    align-items: center;
}

/*checkbox retenir les infos pour ce compte*/
.checkbox{
    width: 5%;
}

.labelCheckBox{
    width: 50em;
}

.image{
    object-fit: cover;
}

#aFacturation,#aLivraison,#paiement{
    background-color: #FFFFFF;
    margin: 2.5%;

}

#aFacturationContent,#aLivraisonContent,#paiementContent,#paiementContent{
    margin-left: 5%;
    margin-top: 2.5%;
}

#pPanier{
    display: block;
}



/** BOUTON **/

#boutonAction{
    display: inline-block;
    background-color: #FF8605; 
    color: #000;
    border-radius: 6px;
    text-decoration:none;
    align-self: center;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 1.5%;
    margin-bottom: 1.5%;
    transition: .3s ease-in-out
}

#boutonAction:hover{
    transform: scale(.96);
}


/** PANIER **/

#pPanier{
    width: 95%;
    margin: 2.5%;
    background-color: #FFFFFF;
}


/* Style the tab */
.tab {
    margin: 2.5%;
    margin-bottom: 0;
    padding: 1%;
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #FFFFFF;
  }
  
  /* Style the buttons inside the tab */
  .tab button {
    background-color: #D9D9D9;
    padding: 1.5% 7.5%; 
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 17px;
  }
  
  /* Change background color of buttons on hover */
  .tab button:hover {
    background-color: #FF8605;
  }
  
  /* Create an active/current tablink class */
  .tab button.active {
    background-color: #FF8605;
    color: #000000;
  }
  
  /* Style the tab content */
  .tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
  }

  #btn-left{
      border-top-left-radius: 1.5ch;
      border-bottom-left-radius: 1.5ch;
  }

  #btn-right{
      border-top-right-radius: 1.5ch;
      border-bottom-right-radius: 1.5ch;
  }


/****************************
 *      FORMAT MOBILE       *
 ****************************/
@media screen and (max-width:1200px) {

    /*Section contenant les asides*/
    #sec_aside{
        display: flex;
        align-items: center;
        /*justify-content: space-around;*/
        flex-direction: column-reverse;
        margin-top: 3em;
        margin-bottom: 5em;
        text-align: center;
    }

    /*changement passer commande*/
    #passe_commande{
        position: static;
    }

    /*changement vider panier*/
    #revenir_panier{
        position: static;
    }

    /*Taille btn quantite*/
    #quantity{
        width: 30%;
    }

    /*positionnement image article*/
    #img_article{
        margin-left: -8%;
    }   

    /*positionnement text article*/
    #text_article{
        margin-left: 15%;
    } 
    

    /*Champs du formulaire*/
    .inputPrepaiement{
        width: 75%;
    }
    label{
        width: 100%;
    }

    #paiement{
        margin-right: 2.5%;
    }


}

@media screen and (max-width:860px) {
    .tab{
        display: flex;
        flex-direction: column;
        margin: 2.5%;
    }
    #btn-left{
        border-top-left-radius: 1.5ch;
        border-top-right-radius: 1.5ch;
        border-bottom-left-radius: 0ch;
    }
  
    #btn-right{
        border-bottom-left-radius: 1.5ch;
        border-bottom-right-radius: 1.5ch;
        border-top-right-radius: 0ch;
    }
}