/* POLICES */
@font-face {
    font-family: 'Montserrat';
    src: url(polices/Montserrat/Montserrat-SemiBold.otf);    
}

@font-face {
    font-family: 'Open sans';
    src: url('polices/open sans/OpenSans-Regular-webfont.ttf');    
}

body {
    background-color: #F7F1F1;
}

/*GRANDES CATEGORIES*/
main {
    font-family : 'Open sans' ;
    background-color: #F7F1F1;
    max-width: 100vw;
}

section {
    background-color: #ffffff;
}

article {
    padding: 0.8em;
}

h3 {
    font-family: 'Montserrat' ;
}

main li {
    max-width: max-content;
    overflow: hidden;
}

a {
    display: inline-block;
    color : #ffffff;
    text-decoration: none ;
}
a:hover {
    color: #000000;
}

#error {
    display: none;
}



/* INPUT / SAISIE DE L'UTILISATEUR*/
label {
    width: 10em;
    margin: 0.5em  0;
    
}

#formMotDePasse label {
    width: 18em;
    margin: 0.5em  0;  
}

main input {
    display: inline-block;
    background-color: #EAEAEA;
    border-style: solid ;
    border-color: #000;
	border-width: 1px ;
    width: 17em;
    max-width: 50vw;
	border-radius: 7px;
}



/* FEEDBACK (PARAGRAPHE : <p>)*/
.feedbackOK{
    color : #FF8605 ;
}

.feedbackERR{
    color : #EF0009;
}



/* PHOTO DE PROFIL / IMAGES*/
.photoProfil {
    width: 120px;
    height: 120px;
    object-fit: cover;
}

/*Permet d'avoir les informations écrite en ligne à coté de l'image lorque l'écran est en grand format*/
#menuImageGrand {
    display: inline ;
}

#menuImageGrand div:not(.dropdown-menu){
    display: inline ;
} 

#menuImageGrand p {
    display : inline ;
}

.dropdown button, .dropdown button:hover .dropdown button:active{
    background-color : white !important;
}



/* BOUTONS */
.btn-secondary {
    width: auto;
    padding-left: 2%;
    padding-right: 2%;
    background-color: #FF8605; 
    color: #000;
    border-radius: 6px;
    border: none;
    text-decoration:none;
    align-self: center;
    text-align: center;
}

.btn-secondary.dropdown-toggle::after:active{
    background-color: #000 !important   ;
}

.btn-danger {
    padding-left: 2%;
    padding-right: 2%;
    background-color: #EF0009; 
    color: #000;
    border-radius: 6px;
    text-decoration:none;
    align-self: center;
    text-align: center;
}
