.thxmessage{
    text-align: center;
    padding : 0.25em;
    margin: 0.25em;
}
hr{
    border: 1px solid black;
}
main{
    margin : 3em;
}
.infoCommande{
    margin-left: 5%;
}
.fit-picture{
    width: 150px;
    height: 150px;
    object-fit: contain;
}

.price{
    margin-left: 50%;
}

.list-prod{
    margin-left: 5%;
    margin-right: 5%;
}

.finalPrice{
    text-align: right;
}

.btn-primary:hover,.btn-primary,.btn-primary:active{
    background-color: #FF8605; 
    color: #000;
    border-radius: 6px;
    text-decoration:none;
    border: none;
    align-self: center;
    --bs-btn-active-color : #000;   /*Modification du css de bootstrap pour la couleur du texte*/
    --bs-btn-active-bg : #FF8605;   /*Modification du css de bootstrap pour le fond du bouton*/
}

.btn-primary{
    transition: .3s ease-in-out
}

.btn-primary:hover{
    transform: scale(.96);
}