/* polices */
@font-face {
    font-family: 'Montserrat';
    src: url(polices/Montserrat/Montserrat-SemiBold.otf);    
}

@font-face {
    font-family: 'Open sans';
    src: url('polices/open sans/OpenSans-Regular-webfont.ttf');    
}

/* main */

body {
    background-color: #F7F1F1;
}

.rechercheContent {
    background-color: white;
    padding: 2em;
}

.slidecontainer {
    width: 100%; /* Width of the outside container */
}

.slidecontainer + p {
    margin: 0;
}

h3 {
    padding: 3%;
}

h4 {
    margin-top: 10%;
}

/* slider */

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 3px;
    border-radius: 5px;  
    background: black;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 50%; 
    background: #FF8605;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #FF8605;
    cursor: pointer;
}

.btn-secondary {
    background-color : #FF8605 ;
    color: #000;
    border-radius: 5px;
    border-style: none;
    padding: 0.3em;

}

.btnCatPrix {
    margin-top: 1em;
    transition: .3s ease-in-out;
}

.btnCatPrix:hover{
    transform: scale(.96);
}

/* début de l'asset produit qu'il suffit de copier */
.produit {
    background-color: #F7F1F1;
    border-color: #FF8605;
    border-width: 1px;
    border-radius: 15px;
    border-style: solid;
    padding: 1em;
    
    margin: 0 1em;
    margin-bottom: 2%;

    display: flex;
    justify-content: right;
    overflow: hidden;

    transition: .3s ease-in-out;
}

.produit:hover{
    transform: scale(1.06);
}

.produit a {
    text-decoration: none;
    color: black;
}

.produit_titre {
    padding-top: 1em;
    font-size: 1.5em;
    font-weight: bolder;
    font-family: 'Open sans';
}



.produit_image {
    width: 17em;
    height:16em;
    object-fit: cover;
    object-position: center;
    float: right;
}

.produit_prix_etoiles {    
    margin-top: auto;
    margin-left: 0;
}

.produit_prix {
    font-size: 2.5em;
    font-weight: bolder;
    align-self: center;
    margin-right: 0.5em;
}

#prixRemiseTTC{
    color: red;
}

.produit_bloc_titre_prix_etoiles {
    flex-direction: column;
    margin-right: 1em;
}

.produit_etoiles {
    padding-top: 5%;
    padding-bottom: 0;
    color: orange;
    font-size: 2em;
}

.desc {
    display: flex;
    flex: 1 0 50%;
    align-items: center;
    padding-right: 3%;
}

.stick {
    position: sticky;
    top: 20vh;
}

.recherchePerso, .recherchePersoDesktopEtMobile {
    padding-top: 3%;
}

.enStock {
    color: green;
}

.pasEnStock {
    color: red;
}

.lienAjoutPanier {
    padding: 0.5em;
    width: max-content;
    background-color: #FF8605;
    border-radius: 10px;
    font-size: 1.2em;
    margin: 0;
    transition: .3s ease-in-out;
}

.lienAjoutPanier:hover {
    transform: scale(.96);
}


.lienAjoutPanierGris {
    padding: 0.5em;
    width: max-content;
    background-color: grey;
    border-radius: 10px;
    font-size: 1.2em;
    margin: 0;
}

.colDuLien {
    margin-bottom: 1%;
}

/* notification */

#notif{
    margin-top: 1em;
    background-color: white;
    position: fixed;
    right: 1em;
    z-index: 10;
    padding: 0.2em;
    width: 14em;
    height: 4em;
    line-height: 2em;
    align-items: center;
    white-space: nowrap;
    -webkit-animation: smooth 5s ease-out;
    -moz-animation: smooth 5s ease-out;
    -o-animation: smooth 5s ease-out;
    -ms-animation: smooth 5s ease-out;
    animation: smooth 5s ease-out;
    animation-fill-mode: forwards;
}
#notif > a{
    display: block;
    background-color: #FF8605; 
    color: #000;
    border-radius: 6px;
    text-decoration:none;
    align-self: center;
    padding: 0;
    padding-left: 1em;
    padding-right: 1em;
}

@-webkit-keyframes smooth {
    0% { opacity: 1;}
    50%{ opacity: 1;}
    100%{ opacity: 0; visibility: hidden;}
}

/* promotion */

.promotion {
    background-color: #144FC1;
    color: #FF8605;
    font-weight: 800;
    padding: 1em;
}

.promo-banner {
    width: 200px;
    height: 50px;
    display: flex;
    background-color: #144FC1;
    color: #FF8605;
    font-weight: 800;
    font-size: 1.3em;
    position: relative;
    transform: rotate(45deg);
    overflow: hidden;
    right: -65px;
    top: 10px;
    align-items: center;
    justify-content: center;
}

.scrollable {
    overflow: scroll;
    max-height: 80vh;
}

/*font pour l'affichage vendeur*/
.vendeur{
    font-size: 75%;
    margin-top: -1em;
    margin-bottom: 4px;
}

/*couleur du texte affichage vendeur*/
.colDuLien>p>.lienVendeur{
    color: gray;
}

.colDuLien>p>.lienVendeur:hover{
    transition-duration: 0.2s;
    color: #FF8605;
    border-radius: 10px;
}


/* media query */
/* grand écran */
@media only screen and (max-width:768px){
    .produit{
        align-items: center;
        text-align: center;
    }

    .produit_image{
        width: 13em;
        height:12em;
        object-fit: cover;
        object-position: center;
        float: none;
        align-self:center;
    }
    .recherchePerso{
        display: none;
        margin: auto;
    }

    .recherchePersoDesktopEtMobile {
        margin: auto;
    }
    details{
        margin: 1em;
    }
    .detailsMobile {
        flex-shrink: unset;
    }
    .checkBox{
        
    }

    .desc {
        display: none;
    }

    .colDuLien {
        margin-top: 1em;
    }
    .recherchePersoDesktopEtMobile {
        padding-bottom: 1em;
    }
}

/* peit écran */

@media only screen and (min-width:769px){
    .detailsMobile {
        display: none;
    }
}

/* fin de l'asset produit */

#lienUncheck {
    padding: 0 1% 0 1%;
    margin: 2% 0 2% 0;

}

