/* HEADER ADMIN */

/* Logo alizon en haut a gauche */
#logoAlizon {
    margin: 0.5em 3vh 0.5em 0.5em;

    width:120px;
    height: 64px;
}
#revenirAcceuil {
    background-color: #106AD1;
}


/* Revnir Acceuil */
#flecheComeback{
    width: 30px;
    height: 30px;
    display: inline-block;
    margin-right: 1em;
}

#lienAcceuil > p {
    display: inline-block;
}

#revenirAcceuil {
    padding-left: 3em;
}

#lienAcceuil {
    color: white;
}

#lienAcceuil:hover{
    color : #FF8605;
}

/* HEADER ADMIN */


.btn-primary:hover,.btn-primary,.btn-primary:active{
    background-color: #FF8605; 
    border-color: #FF8605;
    background-color : #FF8605 ;
    color: #000;
    border-radius: 5px;
    border-color: #FF8605;
}

.button-accueil,.button-ajoutProduit
{
    width: 35%;
    font-size: 2em;
}

.button-left:hover,.button-left{
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    width: 35%;
    font-size: 2em;
}

.button-right:hover,.button-right{
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    background-color: #F4F4F4;
    color: black;
    border-color: #F4F4F4;
    width: 35%;
    font-size: 2em;
}

label{
    font-weight: bolder;
    padding: 10px;
}

input[type="file"]{
    display: none;
}

#inputCat,input[type="text"],input[type="number"],.textarea{
    background-color: #F4F4F4;
    border: 1px solid black;
}

input:focus{
    border: solid#FF8605;
}

/****IMAGE****/

.label-image{
    color:#FF8605;
    font-size: 50px;
    height: 175px;
    width: 175px;
    text-align: center;
    border-radius: 15px;
    border-color: black;
    border: 1px solid black;
    padding: 0.87em;
    background-size: contain;
    background-repeat: no-repeat;

}


.form .grid {
    margin-top:20px;
    display:flex;
    justify-content:space-around;
    flex-wrap:wrap;
    gap:10px;
}
.form .grid .form-element {
    width:200px;
    height:200px;
}
.form .grid .form-element input {
    display:none;
}
.form .grid .form-element img {
    object-fit: contain;
    border-radius: 15px;
    background: #F4F4F4;
    border: 1px solid black;
}
.form .grid .form-element div {
    position:relative;
    height:40px;
    margin-top:-120px;
    text-align:center;
    line-height:40px;
    font-size:13px;
    color:#FF8605;
    font-weight:600;
}
.form .grid .form-element div span {
    font-size:40px;
}

.blocBouton,.confirmMessage{
    text-align: center;
    padding: 3em;
}

.blocBouton{
    padding-bottom: 17.65em;
}


