@font-face {
    font-family: 'Montserrat';
    src: url(../polices/Montserrat/Montserrat-SemiBold.otf);    
}

@font-face {
    font-family: 'Open sans';
    src: url(../polices/open\ sans/OpenSans-Regular-webfont.ttf);    
}


/* Grand logo alizon en haut a gauche */
#logoAlizon {
    margin: 0.5em 3vh 0.5em 0.5em;
    width:120px;
    height: 64px;
}
/* Petit logo alizone n remplacement du grand lorsque c'est un format mobile */
#logoAlizonPetit {
    margin: 0.5em 1vh 0.5em 0.5em;
    width: 40px;
    height: 30px;
}

.BlocSuperieur {
    display: flex;
    background-color: #144FC1 ;
    justify-content: space-between
}

#BlocProfil img{ 
    width: 75px;
    height: 75px;
}


/* Change le dessous du nav en un bleu clair */
#revenirListe {
    background-color: #106AD1;
}

#revenirListe p {
    color: white;
}

#revenirListe a:hover p{
    color : #FF8605;
}

/* Revnir Acceuil */
#flecheComeback{
    width: 30px;
    height: 30px;
    margin-right: 1em;
}

/*  paragraphe à coté de la flèche */
p{
    display: inline-block;
}
