@font-face {
    font-family: 'Montserrat';
    src: url(polices/Montserrat/Montserrat-SemiBold.otf);    
}

@font-face {
    font-family: 'Open sans';
    src: url('polices/open sans/OpenSans-Regular-webfont.ttf');    
}

/* HEADER ADMIN */

/* Logo alizon en haut a gauche */
#logoAlizon {
    margin: 0.5em 3vh 0.5em 0.5em;

    width:120px;
    height: 64px;
}
#revenirAcceuil {
    background-color: #106AD1;
}


/* Revnir Acceuil */
#flecheComeback{
    width: 30px;
    height: 30px;
    display: inline-block;
    margin-right: 1em;
}

#lienAcceuil > p {
    display: inline-block;
}

#revenirAcceuil {
    padding-left: 3em;
}

#lienAcceuil {
    color: white;
    /* padding-left: 3em; */
}

#lienAcceuil:hover{
    color : #FF8605;
}

/* HEADER MAIN */

/* MAIN */

.btn-primary:hover,.btn-primary,.btn-primary:active{
    background-color: #FF8605; 
    border-color: #FF8605;
    background-color : #FF8605 ;
    color: #000;
    border-radius: 5px;
    border-color: #FF8605;
}


.button-left:hover,.button-left{
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    background-color: #F4F4F4;
    color: black;
    border-color: #F4F4F4;
    width: 35%;
    font-size: 2em;
}

.button-right:hover,.button-right{
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    width: 35%;
    font-size: 2em;
}

.btn-secondary {
    background-color : #FF8605 ;
    color: #ffffff;
    border-radius: 5px;
    border-style: none;
    color: #000;
    height: 3em;
    font-size: large;
}

#bouton_ajouter {
    margin-top: 25px;
}

.produit {
    background-color: #F7F1F1;
    border-color: #FF8605;
    border-width: 1px;
    border-radius: 15px;
    border-style: solid;
}

.produit_titre {
    padding-top: 1em;
    font-size: 1.5em;
    font-weight: bolder;
    font-family: 'Open sans';
}

.produit_prix_etoiles {    
    margin-top: auto;
    margin-left: 0;
}

.produit_prix {
    font-size: 2.5em;
    font-weight: bolder;
    align-self: center;
    margin-right: 0.5em;
}

.produit_bloc_titre_prix_etoiles {
    flex-direction: column;
    margin-right: 1em;
}

#bloc2 {
    padding-top: 3em;
}

.images_produits {
    width: 11em;
    height: 12em;
    margin: 1em;
    object-fit: cover;
}