
body {
    font-family: 'Open sans';
    background-color: #F7F1F1;
}

section > div > a{
    margin: 2em;
}

a{
    color: black;
    text-decoration: none;
}

a:hover{
    color: black;
    text-decoration: none;
}

h6 {
    font-family: 'Montserrat';
    padding-top: 1em;
    margin: auto;
}

.card{
    width: 15rem;
    transition: .3s ease-in-out;
}

.card:hover{
    transform: scale(1.06);
}

.card-img-top{
    width: 10em;
    height: 10em;
}