body{
    background-color: #F7F1F1 ;
    font-family: 'Open sans';
}

main {
    background: white;
    padding: 2em;
    margin: 1em;
}

#blocBarreRecherche{
    width: 100%;
    height: 5em;
}

/* barre de recherche */
form{
    width : 40%;
    float: right;
    padding-top: 2em;
    padding-right: 1em;
    display: block;
}

/* donne un style a la barre de recherce */
#input {
    border-radius: 10px;
    box-shadow: 0px 3px rgba(0, 0, 0, 0.5);
    border : none;
    background-color: #EEEEEE;
    padding-left: 2em;
}


/********
 * MAIN *
 ********/
main p {
    display: inline-block;
}

#actionProduits {
    display: block;
    text-align: end;
}

main span {
    margin : 0 1em
}

main article {
    margin-left: 3em ;
    display: inline-flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    width: 90vw;
}

.actionProduits {
    position: static;
    /* position: absolute;
    right: 2em; */
}

main article img {
    width: 8em;
    height: 8em;
    margin-right: 1em;
    object-fit: cover;
}

main article a {
    color: black ;
    text-decoration: none ;
}

main article a:hover {
    color: #FF8605 ;
}

/* Responsive pour format mobile */
@media screen and (max-width: 1024px) {
    span {
        display: none;
    }
    main article {
        display: block;
        margin: 0;
    }
    main article p {
        display: block;
        text-align: center;
    }
    main article img {
        display: block;
        margin: auto;
    }
    .actionProduits {
        position: static;
        display: block;
        text-align: center;
    }
}

/***********
 * BOUTONS *
 ***********/
.toggle-switch {
    display: inline-block;
    position: relative;
    /* border: black 1px solid ; */
    border-radius: 17px;
    width: 60px;
    height: 34px;
    overflow: hidden;
}

    /*INPUT*/
    .toggle-switch input {
        position: relative;
        width: 100%;
        height: 100%;
        margin: 0;
        opacity: 0;
        cursor: pointer;
        z-index: 3;
    }

    .toggle-switch .knob,
    .toggle-switch .layer {
        position: absolute;
        top:0; right: 0; bottom: 0; left: 0;
    }

    /*CERCLE*/
    .toggle-switch .knob {
        z-index: 2;
    }

    .toggle-switch input ~ .knob {
        content: " ";
        position: absolute;
        top: 3px;
        left: 4px;
        width: 28px;
        height: 28px;
        border-radius: 50%;
        background-color: whitesmoke;
        color: black;
        /* border: black 1px solid; */
        transition: 0.3s ease all;
    }

    .toggle-switch input:checked ~ .knob {
        content: " ";
        top: 3px;
        left: 28px;
    }

    /*FOND*/
    .toggle-switch .layer {
        z-index: 1;
        transition: 0.3s ease all;
        background-color: #ccc ;
    }

    .toggle-switch input:checked ~ .layer {
        width: 100%;
        height: 100%;
        background-color: orange;
        transition: 0.3s ease all;
    }

/************
 * POUBELLE *
 ************/
.poubelle{
    display: inline-block;
    background-color: #fff;
    width: fit-content;
    /*color: #D9D9D9; */
    border: none;
    /* padding-bottom: 3%; */
}

/* Style pour le logo pour supprimer le panier */
.poubelle img {
    border: none;
    width : 3em; 
    height : 3em;
    justify-content: center;
} 

/****************
 * NOTIFICATION *
 ****************/
 #notif{
    margin-top: 1em;
    background-color: white;
    position: fixed;
    right: 1em;
    z-index: 10;
    padding: 0.2em;
    min-width: 14em;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
    -webkit-animation: smooth 5s ease-out;
    -moz-animation: smooth 5s ease-out;
    -o-animation: smooth 5s ease-out;
    -ms-animation: smooth 5s ease-out;
    animation: smooth 5s ease-out;
    animation-fill-mode: forwards;
}

#notif h6 {
    margin: 0;
}

@-webkit-keyframes smooth {
    0% { opacity: 1;}
    50%{ opacity: 1;}
    100%{ opacity: 0; visibility: hidden;}
}

/* Form pour les quantité */
.counter {
    width: 150px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Form au niveau de la quantité a mettre dans le panier */
.counter input {
    width: 50px;
    border: 0;
    line-height: 30px;
    font-size: 20px;
    border-style: none solid;
    border-color: black;
    text-align: center;
    background: #e9e9ed;
    color: black;
    appearance: none;
    outline: 0;
}

/* Form au niveau de la quantité pour le style */
.counter span {
    display: block;
    font-size: 25px;
    padding: 0 10px;
    cursor: pointer;
    color: black;
    user-select: none;
}