/* Logo alizon en haut a gauche */
#logoAlizon {
    margin: 0.5em 3vh 0.5em 0.5em;

    width:120px;
    height: 64px;
}
#revenirAcceuil {
    background-color: #106AD1;
}


/* Revnir Acceuil */
#flecheComeback{
    width: 30px;
    height: 30px;
    display: inline-block;
    margin-right: 1em;
}

#lienAcceuil > p {
    display: inline-block;
}

#revenirAcceuil {
    padding-left: 3em;
}

#lienAcceuil {
    color: white;
    /* padding-left: 3em; */
}

#lienAcceuil:hover{
    color : #FF8605;
}

/* MAIN */

body {
    background-color: #F7F1F1;
    font-family: 'Open sans';
}

main{
    width: 90%;
    background-color: white;
    padding:2em;
    margin-left: 1em;
    margin-right: 1em;
    margin-top: 1em;
    margin-bottom: 1em;
}

#divForm{
    width: 100%;
    height: 5em;
}

/* barre de recherche */
.search{
    width : 40%;
    float: right;
    padding-top: 2em;
    padding-right: 1em;
    display: block;
}

#input {
    border-radius: 10px;
    box-shadow: 0px 3px rgba(0, 0, 0, 0.5);
    border : none;
    background-color: #EEEEEE;
    padding-left: 3em;
}

img {
    width: 5em;
    height: 5em;
    margin-right: 2em;
    object-fit: cover;
}

.profil{
    padding-left: 3em;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
}

.profil p{
    padding: 2em;
}
.profil a {
    color: black;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    text-decoration: none;
    align-items: center;
}


.feedbackOK {
    color: #FF8605;
}

.feedbackERR {
    color: #EF0009;
}


/*slider produit*/

.switch {
    position:relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

  .textCheck{
      text-align: end;
    }

    .button{
        margin-left: 2em;
        background-color: #FF8605;
        color: #000;
        border: none;
        border-radius: 6px;
        text-decoration:none;
        /* font-size: 1.5em ; */
        padding-right: 2em;
        padding-left: 2em;
        font-family: 'Open sans';  
    }

    .update{
        margin-left: 0;
        margin-right: 2em;
        width: 7em;
        padding-right: 0;
        padding-left: 0;
    }
    
    .button:hover {
        background-color: #FF8605;
        color: #000;
    }

    .fix{
        background-color: #FF8605;
        color: #000;
        position: fixed;
        right: 1em;
        top: 10em;
        border: none;
        border-radius: 6px;
        text-decoration:none;
        /* font-size: 1.5em ; */
        padding-right: 2em;
        padding-left: 2em;
        font-family: 'Open sans';  
    }

    /*style des inputs*/


    .inputRemise {
        width: 15em;
        background-color: #F7F1F1;
        border-style: solid;
        border-color: black;
        border-width: 1px;
        border-radius: 7px;
    }
    
    .remise{
        display: flex;
        flex-direction: column;
        padding: 1em;
        margin: 1em;
    }

    .sousRemise{
        margin: 0.5em;
    }
    
    details{
        margin-left: 3em;
    }

    .notifRemise{
        width: 3em;
        height: 3em;
    }