/* BODY */
body {
    background-color : #F7F1F1
}
#logoAlizon {
    margin: 0.5em 3vh 0.5em 0.5em;
    width:120px;
    height: 64px;
}

/* HEADER */
#revenirListe {
    padding-left: 2vw;
    background-color: #106AD1;
}

#flecheComeback{
    width: 2em;
    height: 2em;
    display: inline-block;
    margin-right: 2vw;
}

#lienListe > p {
    display: inline-block;
    color : white ;
}



/* MAIN */
main {
        margin-bottom: 5em;
} 

.produit {
    margin-bottom: 2.5em;
}

main img {
    object-fit: cover;
    height: 12em;
    width: 12em;
}

article {
    margin-left: 5vw;
}

/*Mise en grad du prix total TTC d'une commande*/
#prixTotalTTC {
    font-weight: 600;
}

/*Message d'erreur*/
.feedbackERR {
    color : #EF0009 ;
}