@font-face {
    font-family: 'Montserrat';
    src: url('../public/polices/Montserrat/Montserrat-SemiBold.otf');    
}

@font-face {
    font-family: 'Open sans';
    src: url('../public/polices/open sans/OpenSans-Regular-webfont.ttf');    
}

/* Logo alizon en haut a gauche */
#logoAlizon {
    margin: 0.5em 3vh 0.5em 0.5em;

    width:120px;
    height: 64px;
}
#revenirAcceuil {
    background-color: #106AD1;
}


/* Revnir Acceuil */
#flecheComeback{
    width: 30px;
    height: 30px;
    display: inline-block;
    margin-right: 1em;
}

#lienAcceuil > p {
    display: inline-block;
}

#revenirAcceuil {
    padding-left: 3em;
}

#lienAcceuil {
    color: white;
    /* padding-left: 3em; */
}

#lienAcceuil:hover{
    color : #FF8605;
}

/* MAIN */

body {
    background-color: #F7F1F1;
    font-family: 'Open sans';
}

main{
    width: 90%;
    background-color: white;
    padding:2em;
    margin-left: 1em;
    margin-right: 1em;
    margin-top: 1em;
    margin-bottom: 1em;
}

#divForm{
    width: 100%;
    height: 5em;
}

/* barre de recherche */
.search{
    width : 40%;
    float: right;
    padding-top: 2em;
    padding-right: 1em;
    display: block;
}

#input {
    border-radius: 10px;
    box-shadow: 0px 3px rgba(0, 0, 0, 0.5);
    border : none;
    background-color: #EEEEEE;
    padding-left: 3em;
}

img {
    width: 5em;
    height: 5em;
    margin-right: 2em;
    object-fit: cover;
}

.profil{
    padding-left: 3em;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
}

.profil p{
    padding: 2em;
}
.profil a {
    color: black;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    text-decoration: none;
    align-items: center;
}

/*slider produit*/

.switch {
    position:relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #FF8605;
}

input:focus + .slider {
    box-shadow: 0 0 1px #FF8605;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.textCheck{
    text-align: end;
}

.button{
    background-color: #FF8605;
    color: #000;
    border: none;
    border-radius: 6px;
    text-decoration:none;
    display: inline-block;
    font-family: 'Open sans';  
}

.formButton{
    display: inline-block;
    margin-left: 2em;
    
}

.button:hover {
    background-color: #FF8605;
    color: #000;
}
.fix{
    background-color: #FF8605;
    color: #000;
    position: fixed;
    right: 1em;
    top: 10em;
    border: none;
    border-radius: 6px;
    text-decoration:none;
    /* font-size: 1.5em ; */
    padding-right: 2em;
    padding-left: 2em;
    font-family: 'Open sans';  
}
/*style des inputs*/
label {
    width: 22%;
}


