/* Logo alizon en haut a gauche */
#logoAlizon {
    margin: 0.5em 3vh 0.5em 0.5em;
    width:120px;
    height: 64px;
}

/* Change le dessous du nav en un bleu clair */
#revenirAcceuil {
    background-color: #106AD1;
}


/* Revnir Acceuil */
#flecheComeback{
    width: 30px;
    height: 30px;
    display: inline-block;
    margin-right: 1em;
}

/* Met le texte "Revenir à l'accueil" à coté de l'image */
#lienAcceuil > p {
    display: inline-block;
}

/* Revnir Acceuil */
#revenirAcceuil {
    padding-left: 3em;
}

/* Met le texte en blanc */
#lienAcceuil {
    color: white;
}

/* Met le texte en orange lors du survol de la souris */
#lienAcceuil:hover{
    color : #FF8605;
}

/* MAIN */

/* met le fond de la page en blanc cassé */
body {
    background-color: #F7F1F1;
}


/* Met une taille de la page et met le fond en blanc */
main{
    width: 90%;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1em;
   
}

/* La section donne les dimensions de la page avec les infos écrites */
section {
    padding-left: 4em;
    padding-top: 4em;
}

/* Donne une dimensions aux images avec un espacement sur le coté */
img {
    width: 8em;
    height: 8em;
    margin-right: 2em;
}

/* Les informations sont écrite en ligne*/
.profil p{
    display: inline-block;
}

/* permet de ne pas coller les 3 blocs */
#affichInfoPerso , #formInfoPerso, #supressionCompte {
    
    padding-top: 2em; 
}

/* Pour faire un bouton homgène sur toute les pages */
.bouton {
    background-color: #FF8605;
    color: #000;
    padding: 0.5em 1em;
    text-decoration: none;
    border-style: none;
    border-radius: 10px;
}

/* Comme sa les champs pour préciser l'information dans le input sont à la même taille */
label {
    width: 10em;
}

/* Les input sont tout à la même page */
li input {
    width: 15em;
}

/* Les info qui sont déjà rempli quand on vient de cliquer sur "modifier" */
.info_prerempli {
    background-color: #F7F1F1;
	border-style: solid;
	border-color: black;
	border-width: 1px;
	border-radius: 7px;
}

/* Permet de ne pas coller les informations entres elles */
li {
    padding-bottom: 0.5em;
}

