/* Ajout des polices */
@font-face {
    font-family: 'Montserrat';
    src: url(../public/polices/Montserrat/Montserrat-SemiBold.otf);    
}

@font-face {
    font-family: 'Open sans';
    src: url(../public/polices/open\ sans/OpenSans-Regular-webfont.ttf);    
}

body {
    font-family: 'Open sans';
}

section > div > a{
    margin: 2em;
}

a{
    color: black;
    text-decoration: none;
}

a:hover{
    color: black;
    text-decoration: none;
}

h6 {
    font-family: 'Montserrat';
    padding-top: 1em;
    margin: auto;
}

.card{
    width: 15rem;
    transition: .3s ease-in-out;
}

.card:hover{
    transform: scale(1.06);
}

.card-img-top{
    width: 10em;
    height: 10em;
}