/* Logo alizon en haut a gauche */
#logoAlizon {
    margin: 0.5em 3vh 0.5em 0.5em;
    width:120px;
    height: 64px;
}

/* Change le dessous du nav en un bleu clair */
#revenirAcceuil {
    background-color: #106AD1;
}


/* Revnir Acceuil */
#flecheComeback{
    width: 30px;
    height: 30px;
    display: inline-block;
    margin-right: 1em;
}

/* Met le texte "Revenir à l'accueil" à coté de l'image */
#lienAcceuil > p {
    display: inline-block;
}

/* Met un espacement entre le texte et l'icone */
#revenirAcceuil {
    padding-left: 3em;
}

/* Met le texte en blanc */
#lienAcceuil {
    color: white;
}

/* Met le texte en orange lors du survol de la souris */
#lienAcceuil:hover{
    color : #FF8605;
}

/* MAIN */

/* met le fond de la page en blanc cassé */
body {
    background-color: #F7F1F1;
}

/* Met une taille de la page et met le fond en blanc */
main{
    width: 90%;
    background-color: white;
    padding:2em;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1em;
    margin-bottom: 1em;
}

/* met une taille pour la barre de recherche */
#divForm{
    width: 100%;
    height: 5em;
}

/* barre de recherche */
form{
    width : 40%;
    float: right;
    padding-top: 2em;
    padding-right: 1em;
    display: block;
}

/* donne un style a la barre de recherce */
#input {
    border-radius: 10px;
    box-shadow: 0px 3px rgba(0, 0, 0, 0.5);
    border : none;
    background-color: #EEEEEE;
    padding-left: 3em;
}

/* Donne des taille aux images donc les photo de profil */
img {
    width: 5em;
    height: 5em;
    margin-right: 2em;
}

/* Met un espacement pur chaque profil */
.profil{
    padding-left: 3em;
    
}

/* Les informations sur le profil sont écrite en noir */
.profil a {
    color: black;
    display: block;
}

/* Les informations sont écrite en ligne*/
.profil p {
    display: inline-block;
}
/* Les barres pour séparer les informations ont des espacement avec celles ci  */
span{
    padding-left: 2em;
    padding-right: 2em;
}

/*FEEDBACK*/
.feedbackOK{
    color : #FF8605 ;
}

.feedbackERR{
    color : #EF0009;
}